[[extend 'layout.html']]

<section>
    <div>
        <br>
        <h1 class="title has-text-centered">
            Add a friend!
        </h1>
    </div>
    <div class="container">
        [[=form]]
        [[if nullError==True:]]
            <div class = "has-text-danger has-text-weight-bold">
                <p>This person does not exist</p>
            </div>        
        [[pass]]
        [[if alreadyFriend==True:]]
            <div class = "has-text-danger has-text-weight-bold">
                <p>You already follow this user<p>
            </div>        
        [[pass]]
        [[if CannotAddSelf==True:]]
        <div class = "has-text-danger has-text-weight-bold">
            <p>You cannot follow yourself</p>
        </div>        
        [[pass]]
    </div>
</section>