[[extend 'layout.html']]

<div>
    <div class="group_panel panel_spec" style="background-color: white;"> 
        <figure class="profile_photo group_pfp image is-128x128 ">
            <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
        </figure>
        <div class="box" style="width:25%;">
            Friend 1
        </div>
        <div class="box" style="width:25%;">
            Friend 2
        </div>
        <div class="box" style="width:25%;">
            Friend 3
        </div>
        <div class="box" style="width:25%;">
            Friend 4
        </div>
    </div>
    <div class="queue_panel panel_spec" style="background-color: white;"> 
        <div class="box">
            <figure class="image">
                <img src="https://bulma.io/images/placeholders/128x128.png">
            </figure>
        </div>
    </div>
</div>