[[extend 'layout.html']]

<!--div class="vars">
    [[=message]]
</div-->

<section>
    <!--Separates friends and profile-->
    <div class="columns">
        <!--Friend List Column-->
        <div class="column">
            <div class="tile is-ancestor notification is-vertical">
                <strong>Friends Online</strong>
                <div class="tile is-parent is-vertical">
                    <!--Friend Tiles-->
                    <div class="tile is-child notification is-primary">
                        <div class="columns">
                            <div class="column">
                                <img src=[[=URL('static', 'images/icon-crop.png')]] width="50">
                            </div>
                            <div class="column is-9">
                                <strong>Friend 1</strong>
                                <p>Listening to Song - Artist</p>
                            </div>
                        </div>
                    </div>
                    <div class="tile is-child notification is-primary">
                        <div class="columns">
                            <div class="column">
                                <img src=[[=URL('static', 'images/icon-crop.png')]] width="50">
                            </div>
                            <div class="column is-9">
                                <strong>Friend 2</strong>
                                <p>Listening to Song - Artist</p>
                            </div>
                        </div>
                    </div>
                    <div class="tile is-child notification is-primary">
                        <div class="columns">
                            <div class="column">
                                <img src=[[=URL('static', 'images/icon-crop.png')]] width="50">
                            </div>
                            <div class="column is-9">
                                <strong>Friend 3</strong>
                                <p>Listening to Song - Artist</p>
                            </div>
                        </div>
                    </div>
                    <div class="tile is-child notification is-primary">
                        <div class="columns">
                            <div class="column">
                                <img src=[[=URL('static', 'images/icon-crop.png')]] width="50">
                            </div>
                            <div class="column is-9">
                                <strong>Friend 4</strong>
                                <p>Listening to Song - Artist</p>
                            </div>
                        </div>
                    </div>
                    <div class="tile is-child notification is-primary">
                        <div class="columns">
                            <div class="column">
                                <img src=[[=URL('static', 'images/icon-crop.png')]] width="50">
                            </div>
                            <div class="column is-9">
                                <strong>Friend 5</strong>
                                <p>Listening to Song - Artist</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Profile Column-->
        <div class="column is-8">
            <div class="tile is-ancestor is-vertical">
                <!--Banner-->
                <div class="tile is-parent">
                    <img src=[[=URL('static', 'images/banner.png')]] width="825">
                </div>
                <!--Theme Button-->
                <div class="tile is-parent">
                    <a class="button is-primary" href="[[=URL('index')]]">Theme<i class="fa fa-fw fa-angle-down"></i></a>
                </div>
            <!--Large Buttons (column for each)-->
            <div class="tile is-parent">
                <div class="columns">
                    <div class="column">
                        <div class="tile is-child is-success notification box is-vertical">
                            <p class="title">Top Songs & Artists</p>
                            <div style="font-size: 24px;"><i class="fa fa-fw fa-5x fa-list-ul"></i></div>
                        </div>
                    </div>
                <div class="column">
                    <div class="tile is-child is-success notification box is-vertical">
                            <p class="title">Stats & Analytics</p>
                            <div style="font-size: 24px;"><i class="fa fa-fw fa-5x fa-chart-bar"></i></div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="tile is-child is-success notification box is-vertical">
                            <p class="title">Start Group Listen</p>
                            <div style="font-size: 24px;"><a href="[[=URL('groupSession')]]"></a><i class="fa fa-fw fa-5x fa-play"></i></a></div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
