[[extend 'layout.html']]
<div id="vue-target">
<section>
    <div>
        <br>
        <h1 class="title has-text-centered">
            Search For Cover Art
        </h1>
    </div>
    <form action="[[=URL('user', userID, 'edit', squareNumber)]]" method="POST">
        <div class="container">
            <br>
            <div class="field">
                <input class="input" type="text" name="Search" placeholder="Enter an album or artist" />
                <!-- <button class="button is-success" href="[[=URL('user', userID)]]"> back </button> -->
                <input type="submit" class="button" value="Search" />
                <button class="button is-danger" @click="save_album('x', 'x', '[[=(squareNumber)]]')">Clear Album</button>
            </div>
        </div>
    </form>

</section>
<!-- /* make it look more like a list than tile results */ -->
[[if trackLinks != "":]]
<br>
    <div class="container">
    [[for i in range(len(trackLinks)):]]
        <div class="tile is-child search_result"> 
            <!-- Panel title -->
                <!-- For each top song -->
                <section>
                    <a @click="save_album('[[=(trackLinks[i])]]', '[[=(imgList[i])]]', '[[=(squareNumber)]]')">
                        <div class="columns">
                            <div class="column">
                                <!-- Album art image with link to track -->
                                <img src=[[=(imgList[i])]] width="64" height="64">
                            </div>
                            <div class="column is-9">
                                <div>
                                    <!-- Song title with link to track -->
                                    <span target="_blank" style="color:#000000"><strong>[[=(topAlbums[i])]]</strong></span>
                                </div>
                                <div>
                                    <!-- Artist name with link to their Spotify page -->
                                    <span target="_blank" style="color:#000000">[[=(topArtists[i])]]</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </section>
        </div>
        <!-- <br/> -->
    [[pass]]
    </div>
[[pass]]
</div>

[[block page_scripts]]
<script>
    let inputAlbum = "[[=XML(inputAlbum)]]";
    let profileURL = "[[=XML(profileURL)]]";
</script>
<!-- Loads the user-specific js for Vue -->
<script src="js/search.js"></script>
[[end]]