[[extend 'layout.html']]
<script src="js/searchbar.js"></script>

<div id="vue-target">
<div class="background_page_color" id="userpage">
    <div id="friendbar" class="friend_bar panel_spec" style="background-color: white"> 
        <p id="follwingfriendtitle" style="color:#221B1B" class="labels">Following</p>
        <!-- Field for search bar -->
        <div class="tile is-parent">
            <div class="field is-pulled-right">
                <div class="control has-icons-left has-icons-right">
                    <span class="icon is-small is-left">
                        <i class="fas fa-search"></i>
                    </span>
                    <!-- Calls function when something is entered -->
                    <input id="barInput" class="input" type="text" onkeyup="searchBar()" placeholder="Search">
                </div>
            </div>
        </div>
        <ul id="listItems">
        [[for row in friendsList:]]
            <li>
                <div class="tile is-parent">
                    <div id="friendtile" class="tile is-child notification" style="background-color: #4FE383">
                        <div class="columns">
                            <div class="column">
                                [[if (row["profile_pic"] == "") or (row["profile_pic"] == None):]]
                                <img class="is-rounded" src=[[=URL('static', 'images/icon-crop.png')]] width="50">
                                [[else:]]
                                <img class="is-rounded" src=[[=(row["profile_pic"]) ]]>
                                [[pass]]
                            </div>
                            <div class="column is-9">
                                [[ profileURL = "user/" + row["userID"] ]]
                                <a  class="friendname"  style="color:#221B1B" href=[[=URL(profileURL)]]><strong>[[=(row["display_name"])]]</strong></a>
                                <p class="friendtext" style="color:#221B1B">Listening to Song - Artist</p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        [[pass]]
        </ul>
        <a class="button is-primary" href="[[=URL('add_friend')]]">
            <i class="fa fa-plus-square" aria-hidden="true"></i>
        </a>
    </div>

    <div class="main_profile">
        <!-- albumns features -->
        <section>
        <div class="row">
            <div class="columns is-mobile is-1">
                [[for i in range(6):]]
                    [[if coverList[i] != "x": ]]
                        <div v-if = "isEditing===1" class="column is-2 album_box">
                            <a href="[[=URL('user', userID, 'edit', i, signer=url_signer)]]">
                                <figure class="image">
                                    <img src="[[=(coverList[i])]]">
                                </figure>
                            </a>
                        </div>
                        <div v-else class="column is-2 album_box">
                            <figure class="image">
                                <img src="[[=(coverList[i])]]">
                            </figure>
                        </div>
                    [[else:]]
                    <div v-if = "isEditing===1" class="column is-2 album_box">
                        <a href="[[=URL('user', userID, 'edit', i, signer=url_signer)]]">
                            <figure class="image">
                                <img src="https://bulma.io/images/placeholders/128x128.png">
                            </figure>
                        </a>
                    </div>
                    <div v-else class="column is-2 album_box">
                        <figure class="image">
                            <img src="https://bulma.io/images/placeholders/128x128.png">
                        </figure>
                    </div>
                    [[pass]]
                [[pass]]
                <!--div class="column is-2 album_box">
                    <figure class="image">
                        <img src="https://bulma.io/images/placeholders/128x128.png">
                    </figure>
                </div>
                <div class="column is-2 album_box">
                    <figure class="image">
                        <img src="https://bulma.io/images/placeholders/128x128.png">
                    </figure>
                </div>
                <div class="column is-2 album_box">
                    <figure class="image">
                        <img src="https://bulma.io/images/placeholders/128x128.png">
                    </figure>
                </div>
                <div class="column is-2 album_box">
                    <figure class="image">
                        <img src="https://bulma.io/images/placeholders/128x128.png">
                    </figure>
                </div>
                <div class="column is-2 album_box">
                    <figure class="image">
                        <img src="https://bulma.io/images/placeholders/128x128.png">
                    </figure>
                </div-->
                [[for i in range(6, 12):]]
                    [[if coverList[i] != "x": ]]
                        <div v-if = "isEditing===1" class="column is-2 album_box">
                            <a href="[[=URL('user', userID, 'edit', i, signer=url_signer)]]">
                                <figure class="image">
                                    <img src="[[=(coverList[i])]]">
                                </figure>
                            </a>
                        </div>
                        <div v-else class="column is-2 album_box">
                            <figure class="image">
                                <img src="[[=(coverList[i])]]">
                            </figure>
                        </div>
                    [[else:]]
                    <div v-if = "isEditing===1" class="column is-2 album_box">
                        <a href="[[=URL('user', userID, 'edit', i, signer=url_signer)]]">
                            <figure class="image">
                                <img src="https://bulma.io/images/placeholders/128x128.png">
                            </figure>
                        </a>
                    </div>
                    <div v-else class="column is-2 album_box">
                        <figure class="image">
                            <img src="https://bulma.io/images/placeholders/128x128.png">
                        </figure>
                    </div>
                    [[pass]]
                [[pass]]
            </div>
        </div>
        </section>

        <section>
        <div class="row">
            <div class="columns is-mobile is-1">
                <!-- <div class="column is-2 album_box">
                    <figure class="image">
                        <img src="https://bulma.io/images/placeholders/128x128.png">
                    </figure>
                </div>
                <div class="column is-2 album_box">
                    <figure class="image">
                        <img src="https://bulma.io/images/placeholders/128x128.png">
                    </figure>
                </div>
                <div class="column is-2 album_box">
                    <figure class="image">
                        <img src="https://bulma.io/images/placeholders/128x128.png">
                    </figure>
                </div>
                <div class="column is-2 album_box">
                    <figure class="image">
                        <img src="https://bulma.io/images/placeholders/128x128.png">
                    </figure>
                </div>
                <div class="column is-2 album_box">
                    <figure class="image">
                        <img src="https://bulma.io/images/placeholders/128x128.png">
                    </figure>
                </div>
                <div class="column is-2 album_box">
                    <figure class="image">
                        <img src="https://bulma.io/images/placeholders/128x128.png">
                    </figure>
                </div> -->
                [[for i in range(6, 12):]]
                    [[if coverList[i] != "x": ]]
                        <div v-if = "isEditing===1" class="column is-2 album_box">
                            <a href="[[=URL('user', userID, 'edit', i, signer=url_signer)]]">
                                <figure class="image">
                                    <img src="[[=(coverList[i])]]">
                                </figure>
                            </a>
                        </div>
                        <div v-else class="column is-2 album_box">
                            <figure class="image">
                                <img src="[[=(coverList[i])]]">
                            </figure>
                        </div>
                    [[else:]]
                    <div v-if = "isEditing===1" class="column is-2 album_box">
                        <a href="[[=URL('user', userID, 'edit', i, signer=url_signer)]]">
                            <figure class="image">
                                <img src="https://bulma.io/images/placeholders/128x128.png">
                            </figure>
                        </a>
                    </div>
                    <div v-else class="column is-2 album_box">
                        <figure class="image">
                            <img src="https://bulma.io/images/placeholders/128x128.png">
                        </figure>
                    </div>
                    [[pass]]
                [[pass]]
            </div>
            [[if (editable==True):]]
                <div id="editButton">
                    <div v-if="isEditing === 0" class="level-item">
                        <button @click="controlEditButton()" class="button is-link">
                            Edit Profile
                        </button>
                    </div>
                    <div v-else class="level-item">
                        <button @click="controlEditButton()" class="button is-link">
                            Edit Profile
                            <!-- Edit Profile &nbsp; <i class="fa fa-check-square"></i> -->
                        </button>
                    </div>
                </div>
            [[elif isFriend==True:]]
                <div class="level-item">
                    <a class="button is-danger" href="[[=URL('unfollowProfile', userID, signer=url_signer)]]">
                        Unfollow
                    </a>
                </div>
            [[else:]]
                <div class="level-item">
                    <a class="button is-primary level-item" href="[[=URL('addFriendFromProfile', userID)]]">
                        Follow
                    </a>
                </div>
            [[pass]]

        </div>
        </section>
        
        <br>
        <br>
        
        <!-- profile features -->
        <section>
        <div class="tile is-ancestor">
            <div class="tile is-vertical is-parent is-8">
                <article class="tile is-child box">
                    <div class="tile">
                        <figure class="image is-128x128 profile_photo index_pfp">
                            [[if (profile_pic != ""):]]
                            <img class="is-rounded" src="[[=(profile_pic)]]">
                            [[else:]]
                            <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                            [[pass]]
                        </figure>
                        <!-- <p>Bio and Status</p> -->
                        <form action="[[=URL('bio_and_status')]]" method="POST"  style="padding-left: 15px; width: 78%;">
                            <div class="field">
                                <div class="control is-small">
                                  <textarea class="textarea" placeholder="Bio and Status" name="bio&stat" id="bio&stat"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    
                </article>
                <div class="tile is-ancestor">
                    <div class="tile is-parent">
                        <div class="tile is-child box"> 
                            <!-- Panel title -->
                            <strong>Top 10 Songs</strong>
                                <!-- For each top song -->
                                [[for i in range(10):]]
                                <section>
                                    <div class="columns">
                                        <div class="column">
                                            <!-- Album art image with link to track -->
                                            <a href=[[=(trackLinks[i])]] target="_blank"><img src=[[=(imgList[i])]]></a>
                                        </div>
                                        <div class="column is-9">
                                            <div>
                                                <!-- Song title with link to track -->
                                                <a href=[[=(trackLinks[i])]] target="_blank" style="color:#000000"><strong>[[=(topTracks[i])]]</strong></a>
                                            </div>
                                            <div>
                                                <!-- Artist name with link to their Spotify page -->
                                                <a href=[[=(artistLinks[i])]] target="_blank" style="color:#000000">[[=(topArtists[i])]]</a>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                [[pass]]
                        </div>
                    </div>
                    <div class="tile is-vertical is-parent">
                        <div class="tile is-child box">
                            song of the day
                        </div>
                        <div class="tile is-child box">
                            recommended songs
                        </div>
                    </div>
                </div>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child box">
                    Playlists
                </article>
            </div>
        </div>
        </section>
    </div>

    <div id="groupSideButton" class="group_bar panel_spec" style="background-color: white;">
        <a class="group_button" href="[[=URL('groupSession')]]"></a>
    </div>
</div>
</div>

<style>
    .columns .is-variable {
        gap: 0.25rem;   
    }
</style>

[[block page_scripts]]
<!-- Loads the user-specific js for Vue -->
<script src="js/user.js"></script>
[[end]]

<!-- profile picture that doesnt work -->