/* ********************** ACROSS ALL PAGES ********************** */
/* page padding */

.main {
    margin-top: 160px; /* Same as the width of the sidenav */
}

/* general panel formatting */
.panel_spec {
    position: fixed;
    /* background-color: #d9dddc; */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding: 20px;
    z-index: 1; /* Stay on top */
}

p.labels{
    text-decoration: none;
    font-size: 25px;
    color: #818181;
}

.profile_photo {
    width: 100px;
    height: 100px;
    border-radius:50%;
    box-shadow: 7px 7px 15px 1px #55555569;
}


/* ********************** HOME PAGE ********************** */

body{
    background-image: linear-gradient(#4FE383,#191414);
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
        -moz-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
            text-size-adjust: 100%;  
}

/* home page friend left panel  */
.friend_bar {
    height: 85%; 
    width: 25%; 
    top: 10%; 
    left: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

/* for animated search bar */
/* input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  input[type=text]:focus {
    width: 100%;
    background-color: white;
  } */

.add_friend_button {
    border-style: solid; 
    border-radius: 7px; 
    opacity: 1; 
    text-align: center;
    font-size: xx-large;
}
.add_friend_button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
}
.add_friend_button span:after {
    content: 'Add Friend'; /* 'f0fe'add friend icon */
    font-size: x-large;
    /* font-style: italic; */
    font-weight: bold;
    padding-top: 5px;
    position: absolute;
    opacity: 0;
    right: -20px;
    /* transition: 0.5; */
}
.add_friend_button:hover span {
    padding-right: 140px;
}
.add_friend_button:hover span:after {
    transition: 1s;
    opacity: 1;
    right: 0;
}

/* home page right panel group bar */
.group_bar {
    height: 85%;
    width: 5%; 
    top: 10%; 
    right: 0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    transition: 0.3s; 
}

.group_bar:hover{
    height: 85.25%;
    width: 5.25%; 
    top: 9.75%; 
    right: 0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    transition: 0.3s;
}


.group_button{
    font-size:xx-large;
    position: fixed;
    top: 50%;
    opacity: 1;
}
.group_button:hover{ opacity: 0.75;}


/* ********************** EDIT ALBUMS PAGE ********************** */

/* Based on: https://www.w3schools.com/howto/howto_css_image_overlay_title.asp */

/* Container needed to position the overlay. Adjust the width as needed */
.selected_box {
    position: relative;
  }
  
  /* The overlay effect - lays on top of the container and over the image */
  .overlay {
    position: absolute;
    bottom: 5px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    max-width: 128px;
    transition: .5s ease;
    opacity:0;
    font-size: 20px;
    color: white;
    text-align: center;
  }
  
  .overlay_button {
    position: absolute;
    top: -1px;
    left: -1px;
    background: rgba(0, 0, 0, 0); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    max-width: 128px;
    transition: .5s ease;
    opacity:0;
    font-size: 20px;
    color: white;
    text-align: justify;
  }
  
  /* When you mouse over the container, fade in the overlay title */
  .edit_box:hover { opacity: 0.75; }
  
  .selected_box .overlay_button { opacity: 1; }
  
  .selected_box .overlay { opacity: 1; }
  
  /* The snackbar - position it at the bottom and in the middle of the screen */
  #snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  /* Based on: https://www.w3schools.com/howto/howto_js_snackbar.asp */
  #snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }


/* home page center panel */
.main_profile{
    height: 90%; 
    width: 66%; 
    position: absolute; 
    z-index: 1; 
    top: 10%; 
    left: 27%;
    padding-left: 2px;
    padding-right: 2px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* truncate to 3 lines */
p.top_track_text {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3; /* truncates at 3 lines */
    -webkit-box-orient: vertical;
}

p.friendtext{
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 1; /* truncates at 3 lines */
    -webkit-box-orient: vertical;
 }
 
p.playlist_text {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2; /* truncates at 3 lines */
    -webkit-box-orient: vertical;
}

.album_box {
    border-radius: 0px; 
    display: block;
    padding: .25rem;
    margin-top: 4px;
    margin-bottom: 4px;
    opacity: 1;
}

.album_box:hover{ opacity: 0.75;}

.search_result {
    background-color: white;
    border-radius: 0px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;
  }

/* make it look more like a list than tile results */
.search_result:hover{
    background-color: rgb(240, 240, 240);
}


/* ********************** GROUP PAGE ********************** */
/* Group_Page sidebar  */
.queue_panel {
    height: 85%; 
    width: 25%; 
    top: 10%;
    right: 0;
}

/* Group_Page group listen panel  */
.group_panel {
    height: 85%;
    width: 70%;
    top: 10%;
    left: 0;
}

.group_pfp {
    margin-left: auto;
    margin-right: auto;
    top: 40%;
}

/* ********************** SETTINGS PAGE ********************** */
.settings_panel{
    height: 90%;
    width: 60%;
    top: 10%;
    left: 20%;
}

.settings_pfp {
    margin-left: auto;
    margin-right: auto;
    top: 5%;
}

.smallgreentext {
    color: green;
    font-size: small;
}