[[extend 'layout.html']]

<div>
    [[userPage = "user/" + session.get("userID") ]]
    <div class="group_panel panel_spec" style="background-color: white;"> 

        <!-- get back to profile -->
        <a class="button is-primary" href="[[=URL(userPage)]]">
            <i class="fa fa-backward" aria-hidden="true"></i>
            &nbsp; Back
        </a>

        <!--Share link for group listen page-->
        <p style="color:#221B1B;" class="labels">Share Your Session</p>
        <input type="text" value="[[=(profileURL)]]" id="sessionLink" readonly style="width: 50%;">
        <button onclick="getGroupLink()"><i class="fas fa-clipboard"></i></button>
        <p class="smallgreentext"> Send your friends this link to share your group session!</p>

        <figure class="image is-128x128 profile_photo group_pfp">
            [[if (profile_pic != ""):]]
            <img class="is-rounded" src="[[=(profile_pic)]]">
            [[else:]]
            <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
            [[pass]]
        </figure>
        <div class="box" style="width:25%;">
            Friend 1
        </div>
        <div class="box" style="width:25%;">
            Friend 2
        </div>
        <div class="box" style="width:25%;">
            Friend 3
        </div>
        <div class="box" style="width:25%;">
            Friend 4
        </div>
        <iframe src="https://open.spotify.com/embed/track/2MLHyLy5z5l5YRp7momlgw" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
    <div class="queue_panel panel_spec" style="background-color: white;"> 
        <div class="box">
            <figure class="image">
                <img src="https://bulma.io/images/placeholders/128x128.png">
            </figure>
        </div>

        <!-- <iframe src="https://open.spotify.com/track/1F6IbA7di42uPc3cff8PXV" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe> -->
        <div id="vue-target">
        <div class="columns is-mobile is-centered">
            <div class="column is-11">
                <!-- user types search here -->
                <input id="songSearch" class="input" type="text" v-on:keyup="search_spotify_songs()" placeholder="Find a song">
                <!-- if there is at least one result -->
                <div v-if="totalResults > 0">
                    <!-- show tile for each result -->
                    <div class="tile is-child box"> 
                        <div v-for="(t, index) in trackLinks">
                            <section>
                                <!-- when result is clicked, add album to list at selected index -->
                                <a @click="add_song(imgList[index], trackLinks[index])">
                                    <div class="columns">
                                        <div class="column">
                                            <!-- Album art image with link to track -->
                                            <img width="64" height="64" :src="imgList[index]">
                                        </div>
                                        <div class="column is-9">
                                            <div>
                                                <!-- Song title with link to track -->
                                                <span target="_blank" style="color:#000000"><strong>{{topTracks[index]}}</strong></span>
                                            </div>
                                            <div>
                                                <!-- Artist name with link to their Spotify page -->
                                                <span target="_blank" style="color:#000000">{{topArtists[index]}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>

    <script src="https://sdk.scdn.co/spotify-player.js"></script>
    <script>
      window.onSpotifyWebPlaybackSDKReady = () => {
        const token = '[[=(token)]]';
        const player = new Spotify.Player({
          name: 'Groupify Website',
          getOAuthToken: cb => { cb(token); }
        });
  
        // Error handling
        player.addListener('initialization_error', ({ message }) => { console.error(message); });
        player.addListener('authentication_error', ({ message }) => { console.error(message); });
        player.addListener('account_error', ({ message }) => { console.error(message); });
        player.addListener('playback_error', ({ message }) => { console.error(message); });
  
        // Playback status updates
        player.addListener('player_state_changed', state => { console.log(state); });
  
        // Ready
        player.addListener('ready', ({ device_id }) => {
          console.log('Ready with Device ID', device_id);
        });
  
        // Not Ready
        player.addListener('not_ready', ({ device_id }) => {
          console.log('Device ID has gone offline', device_id);
        });
  
        // Connect to the player!
        player.connect();
        
      };

      function getGroupLink() {
        var link = document.getElementById("sessionLink");
        link.select();
        link.setSelectionRange(0, 99999)
        document.execCommand("copy");
        alert("Copied the text: " + link.value);
      }
    </script>
</div>

[[block page_scripts]]
<script>
    let squares_url = "[[=XML(squares_url)]]";
    let search_url = "[[=XML(search_url)]]";
    let profileURL = "[[=XML(profileURL)]]";
</script>
<!-- Loads the user-specific js for Vue -->
<script src="js/search.js"></script>
[[end]]