[[extend 'layout.html']]
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>

<!--Front page of website-->
<body>
    <section class="section">
        <div class="has-text-centered" style="margin-top: 15%;">
            <h1 class="title" style="color: black; font-size: 100px;">
                Welcome to Groupify! 
            </h1>
            <p style="color: rgb(38, 38, 38); font-size: 30px; margin-top: -2%;">
                Please log in before continuing
            </p>
        </div>
        <br>
        <br>
        <div class="buttons is-centered">
            <a class="button is-black is-focused" href="[[=URL('login')]]">Continue With Spotify</a>
        </div>
        <div class="buttons is-centered" style="margin-top: 0%;">
            <a class="button is-black is-focused" href="../static/resources/GroupifyUserManual.pdf">Get Started</a>
        </div>
        
    </section>
</body>