[[extend 'layout.html']]
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>

<!--Front page of website-->
<body>
    <section class="section">
        <div class="has-text-centered" style="margin-top: 15%;">
            <h1 class="title" style="font-size: 100px;">
                Welcome to Groupify! 
            </h1>
            <p style="font-size: 30px;">
                Please log in before continuing
            </p>
        </div>
    </section>

    <section class="section">
        <div class="buttons is-centered">
            <a class="button is-black is-focused" href="[[=URL('login')]]">Continue with Spotify</a>
        </div>
    </section>
</body>