[[extend 'layout.html']]
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>

<body>
    <section class="section">   
        <div class="has-text-centered" style="margin-top: 15%;margin-left: 10%;margin-right: 10%">
            <h1 class="title" style="font-size: 75px;">
                Group Session Is Not Available To Non Premium Users
            </h1>
            <h2 style="font-size: 25px;">spotify limits its features for paid users</h2>
        </div>
    </section>

    <section class="section">
        <div class="buttons is-centered">
            <a class="button is-black is-focused" href="[[=URL('user', userID)]]">Return To Home Page</a>
        </div>
    </section>
</body>