[[extend 'layout.html']]
<script src="js/searchbar.js"></script>

<div id="vue-target">
<div class="background_page_color" id="userpage">
    <!-- Color onload -->
    <div class="friend_bar panel_spec" style="background-Color:[[=tile_color]]"> 
        <p style="color:#221B1B; margin-left:4%; " class="labels">Following</p>
        <!-- Field for search bar -->
        <div class="tile is-parent">
            <div class="tile is-child field is-pulled-left">
                <div class="control has-icons-left has-icons-right">
                    <span class="icon is-small is-left">
                        <i class="fas fa-search"></i>
                    </span>
                    <!-- Calls function when something is entered -->
                    <form>
                        <input id="barInput" class="input" type="text" onkeyup="searchBar()" name="search" placeholder="Filter Friends">
                    </form>
                </div>
            </div>
        </div>
        <ul id="listItems">
            <li>
                <div class="tile is-parent">
                    <div class="tile is-child notification" style="background-Color:[[=friend_tile]]; ">
                        <div class="columns">
                            <figure class="image is-64x64" >
                                [[if (loggedInPicture == None) or (loggedInPicture == ""):]]
                                <img class="is-rounded profile_photo" href=[[=URL('user', session.get("userID"))]] 
                                        src=[[=URL('static', 'images/icon-crop.png')]] width="50">
                                [[else:]]
                                <img class="is-rounded profile_photo" src=[[=(loggedInPicture)]]>
                                [[pass]]
                            </figure>
                            <div style="padding-left: 15px; width: 78%; ">
                                <a  class="friendname"  style="color:[[=text_color]]" href=[[=URL("user", session.get("userID"))]]>
                                    <strong>[[=(loggedInName)]]</strong></a>
                                <div>
                                    <div>
                                        <div v-if="true" @click="isEditingStatus = 1" class="control is-small">
                                            <textarea spellcheck="false" class="textarea has-fixed-size" rows="2" placeholder="edit your status" name="activeStat" id="activeStat" v-model="active">
                                            </textarea>
                                        </div>
                                    </div>
                                    <nav class="level is-mobile" style="padding-top: 5px;">
                                        <!--Filler level left because I believe Bulma needs this. Might be unnecessary-->
                                        <div class="level-left"></div>
                                        <div class="level-right">
                                            <!-- Save button -->
                                            <div v-if="isEditingStatus === 1" class="level-item">
                                                <button @click="save_stat(active)" class="button is-primary">
                                                    <i class="fa fa-check-square" aria-hidden="true"></i></button></div>
                                            <!-- Cancel edit button MIGHT BRING ERRORS IF CANCELED AT A BAD TIME-->
                                            <div v-if="isEditingStatus === 1" class="level-item">
                                                <button @click="cancel_stat" class="button is-danger">
                                                    <i class="fa fa-window-close" aria-hidden="true"></i></button>
                                            </div>
                                        </div>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            [[for row in friendsList:]]
            [[ profileURL = "user/" + row["userID"] ]]
                <li>
                    <div class="tile is-parent">
                        <div class="tile is-child notification" style="background-Color:[[=friend_tile]]; ">
                            <div class="columns">
                                <figure class="image is-64x64" >
                                    [[if (row["profile_pic"] == "") or (row["profile_pic"] == None):]]
                                    <img class="is-rounded profile_photo" href=[[=URL(profileURL)]] 
                                            src=[[=URL('static', 'images/icon-crop.png')]] width="50">
                                    [[else:]]
                                    <img class="is-rounded profile_photo" src=[[=(row["profile_pic"])]]>
                                    [[pass]]
                                </figure>
                                <div style="padding-left: 15px; width: 78%; ">
                                    <a  class="friendname"  style="color:[[=text_color]]" href=[[=URL(profileURL)]]>
                                        <strong>[[=(row["display_name"])]]</strong></a>
                                    <p class="friend_text" style="color:[[=text_color]]; height:45px; ">
                                        [[=(row["active_stat"])]] </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            [[pass]]
        <div class="tile is-parent">
            <a class="tile is-child notification add_friend_button" 
               style="background-Color:[[=tile_color]]; border-color:[[=friend_tile]]; color:[[=friend_tile]];" 
               href="[[=URL('add_friend')]]">
                <span><i class="fa fa-plus-square" aria-hidden="true"></i></span>
            </a>
            </div>
        </ul>
    </div>

    <div class="main_profile">
        <!-- albumns features -->
        <div class="album_section">
        <div class="row">
            <div class="columns is-mobile is-1">
                [[for i in range(6):]]
                    [[if coverList[i] != "x": ]]
                        <div v-if = "isEditingAlbums===1" class="column is-2 album_box">
                            <a href="[[=URL('user', userID, 'edit', i, signer=url_signer)]]">
                                <figure class="image">
                                    <img src="[[=(coverList[i])]]">
                                </figure>
                            </a>
                        </div>
                        <div v-else class="column is-2 album_box">
                            <a href="[[=(urlList[i])]]" target="_blank">	
                            <figure class="image">
                                <img src="[[=(coverList[i])]]">
                            </figure>
                            </a>
                        </div>
                    [[else:]]
                    <div v-if = "isEditingAlbums===1" class="column is-2 album_box">
                        <a href="[[=URL('user', userID, 'edit', i, signer=url_signer)]]">
                            <figure class="image">
                                <img src="images/square.png">
                            </figure>
                        </a>
                    </div>
                    <div v-else class="column is-2 album_box">
                        <figure class="image">
                            <img src="images/square.png">
                        </figure>
                    </div>
                    [[pass]]
                [[pass]]
            </div>
        </div>
        

        <div class="row">
            <div class="columns is-mobile is-1">
                [[for i in range(6, 12):]]
                    [[if coverList[i] != "x": ]]
                        <div v-if = "isEditingAlbums===1" class="column is-2 album_box">
                            <a href="[[=URL('user', userID, 'edit', i, signer=url_signer)]]">
                                <figure class="image">
                                    <img src="[[=(coverList[i])]]">
                                </figure>
                            </a>
                        </div>
                        <div v-else class="column is-2 album_box">
                            <a href="[[=(urlList[i])]]" target="_blank">	
                            <figure class="image">
                                <img src="[[=(coverList[i])]]">
                            </figure>
                            </a>
                        </div>
                    [[else:]]
                    <div v-if = "isEditingAlbums===1" class="column is-2 album_box">
                        <a href="[[=URL('user', userID, 'edit', i, signer=url_signer)]]">
                            <figure class="image">
                                <img src="images/square.png">
                            </figure>
                        </a>
                    </div>
                    <div v-else class="column is-2 album_box" >
                        <figure class="image">
                            <img src="images/square.png">
                        </figure>
                    </div>
                    [[pass]]
                [[pass]]
            </div>
        </div>
        </div>
        <section>
            [[if (editable==True):]]
                <div class="level-item">
                <div id="editButton">
                        <a href="[[=URL('user', userID, 'edit', signer=url_signer)]]">
                        <button @click="controlEditButton()" class="button is-link">
                            Edit Banner
                        </button>
                        </a>
                </div>
                </div>
            [[elif isFriend==True:]]
                <div class="level-item">
                    <a class="button is-danger" href="[[=URL('unfollowProfileFromProfile', userID, signer=url_signer)]]">
                        Unfollow
                    </a>
                </div>
            [[else:]]
                <div class="level-item">
                    <a class="button is-primary level-item" href="[[=URL('addFriendFromProfile', userID)]]">
                        Follow
                    </a>
                </div>
            [[pass]]

        
        </section>
        
        <br><br>
        
        <!-- profile features -->
        <section>
            <div class="tile is-ancestor" >
                <div class="tile is-vertical is-parent is-8">
                    <article class="tile is-child box"  style="background-Color:[[=tile_color]]">
                        <div class="tile">
                            <figure class="image is-128x128 index_pfp">
                                [[if (profile_pic != ""):]]
                                <img class="is-rounded profile_photo" src="[[=(profile_pic)]]">
                                [[else:]]
                                <img class="is-rounded profile_photo" src="https://bulma.io/images/placeholders/128x128.png">
                                [[pass]]
                            </figure>
                                <!-- <p>Bio and Status</p> -->
                                <div style="margin-left:2%; padding-left: 15px;  width: 100%;">
                                    <p style="color:#221B1B; padding-bottom: 5px;" class="labels">[[=display_name]]</p>
                                    [[if (editable==True):]]
                                    <div >
                                        <div v-if="true" @click="isEditingBio = 1" class="control is-small">
                                            <textarea spellcheck="false" class="textarea" placeholder="Bio" name="bio&stat" 
                                            id="bio&stat" v-model="bio" maxlength="300"> 
                                            </textarea>
                                        </div>
                                    </div>
                                    <nav class="level is-mobile" style="padding-top: 5px;">
                                        <!--Filler level left because I believe Bulma needs this. Might be unnecessary-->
                                        <div class="level-left"></div>
                                        <div class="level-right">
                                            <!-- Save button -->
                                            <div v-if="isEditingBio === 1" class="level-item">
                                                <button @click="save_bio(bio)" class="button is-primary">
                                                    <i class="fa fa-check-square" aria-hidden="true"></i></button></div>
                                            <!-- Cancel edit button MIGHT BRING ERRORS IF CANCELED AT A BAD TIME-->
                                            <div v-if="isEditingBio === 1" class="level-item">
                                                <button @click="cancel_bio" class="button is-danger">
                                                    <i class="fa fa-window-close" aria-hidden="true"></i></button>
                                            </div>
                                        </div>
                                    </nav>
                                    [[else:]]
                                    <div >
                                        <!-- <div v-if="true" class="control is-small">
                                            <textarea spellcheck="false" class="textarea" name="bio&stat" id="bio&stat" v-model="bio" readonly>
                                            </textarea>
                                        </div> -->
                                        <p style="color:#221B1B;"> [[=bio_status]] </p>
                                    </div>
                                    [[pass]]
                                </div>
                            </div>
                        
                    </article>
                <div class="tile is-ancestor" >
                    <div class="tile is-parent" >
                        <div class="tile is-child box" style="background-Color:[[=tile_color]]"> 
                            <!-- Panel title -->
                            <strong>Top 10 Songs</strong>
                                <!-- For each top song -->
	                            <!-- toggle top songs length -->
                                <div class="dropdown is-hoverable is-pulled-right is-right">	
                                    <div class="dropdown-trigger">	
                                      <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">	
                                        <span>{{termString}}</span>	
                                        <span class="icon is-small">	
                                          <i class="fas fa-angle-down" aria-hidden="true"></i>	
                                        </span>	
                                      </button>	
                                    </div>
                                    <div class="dropdown-menu" id="dropdown-menu4" role="menu">	
                                      <div class="dropdown-content">	
                                        <a class="dropdown-item" @click="changeTerm('1', '[[=(editable)]]')">	
                                          <p>last 4 weeks</p>	
                                        </a>	
                                        <a class="dropdown-item" @click="changeTerm('2', '[[=(editable)]]')">	
                                          <p>last 6 months</p>	
                                        </a>	
                                        <a class="dropdown-item" @click="changeTerm('3', '[[=(editable)]]')">	
                                          <p>of all time</p>	
                                        </a>	
                                      </div>	
                                    </div>
                                  </div>
                                <br>	
                                <br>	
                                <br>
                                <!-- v-for wants to start at 1, "(n, i)" makes it start at 0-->
                                <div v-for="(n, i) in 10">
                                <section>
                                    <div class="columns">
                                        <div class="column">
                                            <!-- Album art image with link to track -->
                                            <a :href="trackLinks[i]" target="_blank"><img :src="imgList[i]"></a>
                                        </div>
                                        <div class="column is-9">
                                            <div>
                                                <!-- Song title with link to track -->
                                                <a :href="trackLinks[i]" target="_blank" style="color:#000000"><strong>{{topTracks[i]}}</strong></a>
                                            </div>
                                            <div>
                                                <!-- Artist name with link to their Spotify page -->
                                                <a :href="trackLinks[i]" target="_blank" style="color:#000000"> {{topArtists[i]}}</a>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                </div>
                        </div>
                    </div>
                    <div class="tile is-vertical is-parent">
                        <div class="tile is-child box" style="background-Color:[[=tile_color]]">
                            <strong>Top Artists</strong>
                            <div class="dropdown is-hoverable is-pulled-right is-right">	
                                <div class="dropdown-trigger">	
                                  <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">	
                                    <span>{{artistTerm}}</span>	
                                    <span class="icon is-small">	
                                      <i class="fas fa-angle-down" aria-hidden="true"></i>	
                                    </span>	
                                  </button>	
                                </div>
                                <div class="dropdown-menu" id="dropdown-menu4" role="menu">	
                                  <div class="dropdown-content">	
                                    <a class="dropdown-item" @click="changeArtistTerm('1', '[[=(editable)]]')">	
                                      <p>last 4 weeks</p>	
                                    </a>	
                                    <a class="dropdown-item" @click="changeArtistTerm('2', '[[=(editable)]]')">	
                                      <p>last 6 months</p>	
                                    </a>	
                                    <a class="dropdown-item" @click="changeArtistTerm('3', '[[=(editable)]]')">	
                                      <p>of all time</p>	
                                    </a>	
                                  </div>	
                                </div>
                              </div>
                            <br>	
                            <br>	
                            <br>
                            <!-- v-for wants to start at 1, "(n, i)" makes it start at 0-->
                            <div v-for="(n, i) in 8">
                            <section>
                                <div class="columns">
                                    <div class="column">
                                        <!-- Album art image with link to track -->
                                        <a :href="artistURLs[i]" target="_blank"><img :src="artistImages[i]"></a>
                                    </div>
                                    <div class="column is-9">
                                        <div>
                                            <!-- Song title with link to track -->
                                            <a :href="artistURLs[i]" target="_blank" style="color:#000000"><strong>{{artistNames[i]}}</strong></a>
                                        </div>
                                        <div>
                                            <!-- Artist Genres with link to their Spotify page -->
                                            <a :href="artistURLs[i]" target="_blank" style="color:#000000"> 
                                                <span v-if="genres != null">
                                                <span v-if="genres[i] != ''">{{genres[i]}}</span>
                                                </span>
                                            </a>
                                            <br>
                                            <!-- Artist followers with link to their Spotify page -->
                                            <a :href="artistURLs[i]" target="_blank" style="color:#000000">
                                                <span v-if="followers[i] != undefined">{{followers[i]}} Followers</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            </div>
                            
                            <a href="[[=URL('artists', userID, signer=url_signer)]]" style="color:#000000"><strong>See All</strong></a>  
                                                      
                        </div>
                        <!--  
                        <div class="tile is-child box" style="background-Color:[[=tile_color]]">
                            Song of the day
                        </div>
                         -->
                    </div>
                </div>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child box" style="background-Color:[[=tile_color]]">
                    <strong>Public Playlists</strong> <br> <br>
                    <!-- v-for wants to start at 1, "(n, i)" makes it start at 0-->
                    <div> [[for i in range(len(playlistNames)):]]
                        [[if i < 12:]]
                        <section>
                            <div class="columns">
                                <div class="column">
                                    <!-- Album art image with link to track -->
                                    <a href=[[=(playlistURLs[i])]] target="_blank"><img src=[[=(playlistImages[i])]]></a>
                                </div>
                                <div class="column is-9">
                                    <div>
                                    <!-- Playlist title with link to track -->
                                    <a href=[[=(playlistURLs[i])]] target="_blank" style="color:#000000"><strong>[[=(playlistNames[i])]]</strong></a>
                                    </div>
                                    <div>
                                        <!-- Playlist description with link to their Spotify page -->
                                        <a href=[[=(playlistURLs[i])]] target="_blank" style="color:#000000"> 
                                            [[if playlistDescriptions[i] != "[]":]]
                                                <p class="playlist_text">[[=(playlistDescriptions[i])]]</p>
                                            [[else:]]
                                                <br>
                                            [[pass]]
                                            </a>
                                    </div>
                                </div>
                            </div>
                        </section>
                        [[pass]]
                        [[pass]]
                    </div> 
                    <a href="[[=URL('playlists', userID, signer=url_signer)]]" style="color:#000000"><strong>See All</strong></a>
                </article>
            </div>
        </div>
        </section>
    </div>

    <div class="group_bar panel_spec" style="background-Color:[[=tile_color]]">
        <a class="group_button" style="color:[[=friend_tile]]" href="[[=URL('groupSession', user)]]">
            <i class="fa fa-forward" aria-hidden="true"></i>
        </a>    
    </div>
</div>
</div>

<style>
    .columns .is-variable {
        gap: 0.25rem;   
    }
</style>

[[block page_scripts]]
<script>
    let userBio = "[[=XML(userBio)]]";
    let userStat = "[[=XML(userStat)]]";
    let getTopSongs = "[[=XML(getTopSongs)]]";
    let getTopArtists = "[[=XML(getTopArtists)]]";
    //let getPlaylists = "[[=XML(getPlaylists)]]";
</script>
<!-- Loads the user-specific js for Vue -->
<script src="js/user.js"></script>
[[end]]