[[extend 'layout.html']]

<!--div class="vars">
    [[=message]]
</div-->
<div>
    <div class="friend_bar"> 
        <p>Frands</p>
    </div>
    
    <div class="main_profile">
        <section>
            hi im the albums
        </section>
        
        <!-- profile features -->
        <section>
            <div class="tile is-ancestor">
                <div class="tile is-vertical is-parent is-8">
                    <article class="tile is-child box">
                        bio and status
                    </article>
                    <div class="tile is-ancestor">
                        <div class="tile is-parent">
                            <div class="tile is-child box"> 
                                top 10 songs
                            </div>
                        </div>
                        <div class="tile is-vertical is-parent">
                          <div class="tile is-child box">
                              song of the day
                          </div>
                          <div class="tile is-child box">
                              recommended songs
                          </div>
                        </div>
                    </div>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        Analytics
                    </article>
                </div>
            </div>
        </section>
    </div>
    
    <div class="group_bar">
        <a class="group_button" href="[[=URL('groupSession')]]"></a>
    </div>
</div>
