/* ********************** ACROSS ALL PAGES ********************** */
/* page padding */
.main {
    margin-top: 160px; /* Same as the width of the sidenav */
}

/* general panel formatting */
.panel_spec {
    position: fixed;
    background-color: #d9dddc;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding: 20px;
    z-index: 1; /* Stay on top */
}

p.labels{
    text-decoration: none;
    font-size: 25px;
    color: #818181;
}

.profile_photo {
    color: #818181;
    width: 100px;
    height: 100px;
    background-color: #818181;
    border-radius:50%;
    box-shadow: 7px 7px 15px 1px #55555569;
}


/* ********************** HOME PAGE ********************** */
/* home page friend left panel  */
.friend_bar {
    height: 85%; 
    width: 25%; 
    top: 10%; 
    left: 0;
}

/* home page right panel group bar */
.group_bar {
    height: 85%;
    width: 5%; 
    top: 10%; 
    right: 0;
}

.group_button{
    height: 10%;
    width: 3px;
    position: fixed;
    top: 50%;
    right: 4%;
    background-color: #8f8f8f;
}

/* home page center panel */
.main_profile{
    height: 85%; 
    width: 66%; 
    position: fixed; 
    z-index: 1; 
    top: 10%; 
    left: 27%;
    /* background-color: */
    padding-left: 2px;
    padding-right: 2px;
    overflow-x: hidden; 
    padding-top: 20px;
    padding-bottom: 20px;
}

.album_box {
    /* background-color: white; */
    border-radius: 0px; 
    /* color: #4a4a4a; */
    display: block;
    padding: .25rem;
    margin-top: 4px;
    margin-bottom: 4px;
}

.index_pfp {
    background-color: #8f8f8f
    /* margin-left: auto;
    margin-right: auto; */
    /* top: 17%; */
    /* position: absolute !important;
    z-index: 1; */
}

/* ********************** GROUP PAGE ********************** */
/* Group_Page sidebar  */
.queue_panel {
    height: 85%; 
    width: 25%; 
    top: 10%;
    right: 0;
}

/* Group_Page group listen panel  */
.group_panel {
    height: 85%;
    width: 70%;
    top: 10%;
    left: 0;
}

.group_pfp {
    margin-left: auto;
    margin-right: auto;
    top: 40%;
}

/* ********************** SETTINGS PAGE ********************** */
.settings_panel{
    height: 90%;
    width: 60%;
    top: 10%;
    left: 20%;
}

.settings_pfp {
    margin-left: auto;
    margin-right: auto;
    top: 5%;
}
